{% extends "_layouts/blank.html.twig" %}

{% block title %}
    Confirmação
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/success-registration.css') }}">
{% endblock %}

{% block content %}

    <div class="success-card">
        {% include "success/_partials/card-success.html.twig" %}
    </div>
{% endblock %}

