{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ agent.name }}{% endblock %}

{% block content %}

    <section class="entity-section">
        {% include "_components/entity-header.html.twig" with {
            name: agent.name,
            id: agent.id,
            tabs: 'agent/_partials/profile-tabs/profile-tabs.html.twig',
            longBio: agent.longBio
        } %}
    </section>

    <section class="profile-entity-wrapper">
        {% include "agent/_partials/profile-tabs/content-tabs.html.twig" %}
    </section>

{% endblock %}

{% block footer %}{% endblock %}
