{% extends "_layouts/blank.html.twig" %}

{% block title %}
    {{ 'events'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/events.css') }}">
{% endblock %}

{% block content %}
    <section class="white-square">
        {% include '_components/breadcrumb.html.twig' with {
            items: [
                {text: 'home'|trans, path: path('web_home_homepage')},
                {text: 'events'|trans, path: path('web_event_list')},
            ]
        } %}

        {% include '_components/title.html.twig' with {
            title: 'events'|trans,
            action: {path: path('admin_event_create'), text: 'view.event.create_event.create'|trans}
        } %}

        {% include "_components/entity-dashboard.html.twig" with { 'dashboard': dashboard} %}

        {% include 'event/_partials/tabs/tabs.html.twig' %}
    </section>

    <button id="open-filter" class="filter-btn">
        <i class="material-icons">filter_alt</i>
    </button>

    <section class="entity-wrapper">
        {% include "event/_partials/side-filter.html.twig" %}

        <div class="entity-container">
            {% include 'event/_partials/tabs/content-tabs.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/side-filter.js') }}"></script>
{% endblock %}
