{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ organization.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/agents.css') }}">
{% endblock %}

{% block content %}

    <section class="entity-section">
        {% include "organization/_partials/organization-header-details.html.twig" with {
            name: organization.name,
            id: organization.id,
            tabs: 'organization/_partials/profile-tabs-organization/profile-tabs.html.twig'
        } %}
    </section>

    <section class="profile-entity-wrapper">
        <div>
            {% include 'organization/_partials/profile-tabs-organization/profile-content-tabs.html.twig' %}
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}