<section class="entity-container mx-auto">
    <p>Campos marcados com <small class="text-danger">*</small> são de preenchimento obrigatório.</p>

    <div class="management-panel__white-square pt-5 px-5">
        <h3 class="fw-bold">{{ 'view.opportunity.presentation_info'|trans }}</h3>

        <div class="mb-3">
            <label for="title" class="form-label">Título <small class="text-danger">*</small></label>
        </div>
    </div>
</section>
