<div class="modal fade" id="modalImage" aria-hidden="true" aria-labelledby="modalImageLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-semibold fs-5" id="modalImageLabel">Autorização de Uso de Imagem</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Autorizo, para todos os fins em direito admitidos, a publicização de minha imagem, áudio,
                    fotografias e vídeos, na Plataforma Aurora.
                </p>
                <p>
                    A autorização neste termo especificada é gratuita e irá perdurar enquanto meu cadastro estiver ativo no sistema.
                </p>
                <p>
                    O cadastramento na Aurora é necessário para que o Usuário possa utilizar os nossos serviços, seja consultando,
                    publicando ou participando de editais, prêmios, chamadas, concursos, espaços culturais, sociais e públicos etc.
                    A Secult/CE compromete-se a não utilizar as informações cadastrais fornecidas pelos Usuários para a realização de quaisquer
                    atividades ilícitas, mas apenas para aquelas expressamente permitidas pela legislação brasileira e/ou pelo presente instrumento.
                </p>
                <p>
                    Por ser esta expressão de minha vontade, nada terei a reclamar a título de direitos conexos à minha imagem e áudio.
                </p>
                <p>
                    Meu consentimento pode ser revogado a qualquer momento mediante manifestação expressa, por procedimento gratuito e facilitado,
                    através do e-mail do Encarregado da SECULT, localizado do canal de comunicação disponível na tela inicial da Plataforma.
                </p>
            </div>
            <div class="modal-footer container justify-content-center">
                <button type="button" class="btn btn-lg btn-secondary col-4 me-4" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-lg btn-primary col-4 accept-policy" data-policy="modalImage" data-bs-dismiss="modal">Aceitar</button>
            </div>
        </div>
    </div>
</div>
