<div class="d-flex mt-1 mb-3 align-items-center">
    <img src="{{ asset(opportunity.image) }}" alt="{{ 'opportunity-picture'|trans }}" class="rounded-circle">

    <h4 class="fw-bold">{{ opportunity.name }}</h4>
</div>
