<div class="d-flex align-items-center mt-4 p-2">
    <img src="{{ asset(agent.image ?? 'img/allan.png') }}" alt="{{ 'agent-picture'|trans }}" class="rounded-circle">

    <p class="fw-bold">{{ agent.name }}</p>
</div>
