{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'agents'|trans}} {% endblock %}

{% block content %}
    <section class="white-square">
        {% include "admin/agent/_partials/breadcrumb.html.twig" %}

        {% include "admin/agent/_partials/title.html.twig" %}

        {% include "_components/entity-dashboard.html.twig" with { 'dashboard': dashboard} %}

        {% include "admin/agent/_partials/tabs/tabs.html.twig" %}
    </section>

    <section class="entity-wrapper">
        {% include "admin/agent/_partials/side-filter.html.twig" %}

        <button id="open-filter" class="filter-btn">
            <i class="material-icons">filter_alt</i>
        </button>

        <div class="entity-container">
            {% include 'admin/agent/_partials/tabs/content-tabs.html.twig' %}
        </div>
    </section>
{% endblock %}

