{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'Agents'|trans}} {% endblock %}

{% block content %}
    <section class="agent-panel">
        {% include "admin/agent/_partials/panel.html.twig" %}
    </section>

    <section class="wrapper agent-wrapper">
        {% include "admin/agent/_partials/side-filter.html.twig" %}

        <button id="open-filter" class="filter-btn">
            <i class="material-icons">filter_alt</i>
        </button>

        {% include "admin/agent/_partials/tabs.html.twig" %}

        <main id="main-content" class="content-agent container">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="tab-agents-list" role="tabpanel" aria-labelledby="agents-list-tab" tabindex="0">
                     {% include "admin/agent/_partials/cards.html.twig" %}
                </div>
                <div class="tab-pane fade" id="tab-agents-map" role="tabpanel" aria-labelledby="agents-map-tab" tabindex="0">
                    Map
                </div>
                <div class="tab-pane fade" id="tab-agents-chart" role="tabpanel" aria-labelledby="agents-chart-tab" tabindex="0">
                    Chart
                </div>
            </div>
        </main>
    </section>
{% endblock %}

