{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'edit_initiative' | trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        <div class="entity-edit">
            {% include "_admin/initiative/_partials/initiative-edit-header.html.twig" %}

            <section class="entity-edit-content mt-4">
                {% set asterisk = '<span class="text-danger">*</span>' %}
                <span class="entity-mandatory-fields">{{ 'view.space-edit.mandatory_fields'|trans({'asterisco': asterisk})|raw }}</span>

                {% set program_name = '<span class="text-primary fw-bold">Nome do programa</span>' %}
                {% set oportunidade_nome = '<span class="text-primary fw-bold">Nome da oportunidade</span>' %}
                <div class="entity-edit-info">
                    {{ 'view.initiative.project_linked_program' | trans({'programa-nome': program_name, 'oportunidade-nome': oportunidade_nome}) | raw }}
                </div>

                {% include "_admin/initiative/_partials/forms/entity-edit-form.html.twig" %}
            </section>
            
            {% if error is defined and error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
