<div class="entity-page-tabs mt-5">
    <p class="d-flex align-self-end fw-bold fs-6 mb-3 me-0 me-xl-4">{{ 'see_how' | trans }}:</p>
    {% set tabs = [
        {
            'id': 'list',
            'title': 'list' | trans,
            'icon': 'list',
        },
        {
            'id': 'calendar',
            'title': 'calendar' | trans,
            'icon': 'calendar_today',
        },
        {
            'id': 'map',
            'title': 'map' | trans,
            'icon': 'map',
        },
        {
            'id': 'indicators',
            'title': 'indicators' | trans,
            'icon': 'bar_chart',
        }
    ] %}

{% include '_components/tabs/tab.html.twig' with { 'tabs': tabs } %}
</div>
