<button type="button" class="btn btn-outline-success btn-outline__entity-details fw-bold py-2 px-4">
    <i class="material-icons fs-4 me-2">share</i> {{ 'share'|trans }}
</button>
<button type="button" class="btn btn-primary fw-bold p-2 ms-3">
    <i class="material-icons fs-4 me-2">messenger</i> {{ 'send_message'|trans }}
</button>
