<div class="tab-pane container fade" id="workPlan">
    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            Em breve
        </div>
    </div>
</div>
