<section class="mt-5">
    <span class="fs-4 fw-bold">{{ "recent_registrations" | trans }}</span>

    <div class="recent-registrations-card mt-3">
        <div class="d-flex">
            <span class="registration-info">
                Programa de Residências e Intercâmbios Porto Dragão - 2ª Edição // CONVOCATÓRIA 2022
            </span>
            <i class="iconify" data-icon="simple-line-icons:star"></i>
        </div>
        <div class="d-flex flex-column">
            <span class="fw-semibold">{{ "registration_date"| trans | upper }}:</span>
            <span class="fw-bold">06/04/2022 às 18h</span>
        </div>
        <a href="#">
            {{ "accompany" | trans }}
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
</section>
