<div id="filter-sidebar" class="sidebar">
    <div class="close-filter">
                <span>
                  <i class="material-icons text-primary">filter_alt</i>
                  <span>Filtros</span>
                </span>
        <i id="close-filter" class="material-icons close-filter-btn">close</i>
    </div>

    <div class="filter-fields">
        <div class="form-group">
            <label for="agent-name" class="filter-label">Nome do agente</label>
            <input type="text" class="filter-form" id="agent-name" placeholder="Digite">
        </div>

        <div class="form-group">
            <label for="agent-type" class="filter-label">Tipo de agente</label>
            <select class="filter-form" id="agent-type">
                <option>Selecione</option>
            </select>
        </div>

        <div class="form-group">
            <label for="areas-of-activity" class="filter-label">Áreas de atuação</label>
            <select class="filter-form" id="areas-of-activity">
                <option>Selecione</option>
            </select>
        </div>

        <div class="form-group">
            <label for="seals" class="filter-label">Selos</label>
            <select class="filter-form" id="seals">
                <option>Selecione</option>
            </select>
        </div>

        <div class="form-group">
            <label for="state" class="filter-label">Estado</label>
            <select class="filter-form" id="state">
                <option>Selecione</option>
            </select>
        </div>

        <div class="form-group">
            <label for="city" class="filter-label">Município</label>
            <select class="filter-form" id="city">
                <option>Selecione</option>
            </select>
        </div>

        <button id="clear-filters" class="clearFilters">Limpar todos os filtros</button>
    </div>
</div>
