{% extends "_layouts/blank.html.twig" %}

{% block title %}
    {{ 'my_subscriptions' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/registration.css') }}">
{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <section class="management-content w-100">
            <div class="management-panel__white-square d-flex flex-column justify-content-between">
                {% include "_admin/registration/_partials/title-registration.html.twig" %}

                {% include "_admin/registration/_partials/tabs/tabs.html.twig" %}
            </div>

            {% include "_admin/registration/_partials/tabs/content-tabs.html.twig" %}
        </section>
    </section>

{% endblock %}
{% block footer %}{% endblock %}
