<div class="d-flex align-content-center justify-content-between">
    <p class="fw-bold">182 {{ 'agent.agents_found' | trans }}</p>
    <div class="d-flex g-4 agent-sort">
        <label class="agent-options" for="sort-options">{{ 'agent.sort_by' | trans }}</label>
        <select id="sort-options" class="form-select">
            <option value="recent">{{ 'agent.most_recent' | trans }}</option>
            <option value="old">{{ 'agent.oldest' | trans }}</option>
        </select>
    </div>
</div>

<div class="mw-100 agent-card ">
    <div class="agent-card-header">
        <img src="/assets/img/home-agents.png" alt="Foto do agente" class="rounded-circle">
        <div class="agent-info">
            <h5 class="agent-name">Alice Nogueira</h5>
            <span class="agent-type person">
              <i class="material-icons">person</i> Pessoa
            </span>
        </div>
    </div>

    <div class="agent-card-body">
        <p class="agent-area"><strong>Áreas de atuação (1):</strong> <span class="agent-sub-area">DESENVOLVIMENTO</span></p>
        <p class="agent-location"><strong>Localização:</strong> Goiânia (GO)</p>
        <div class="agent-seals">
            <p class="seals-area"><strong>Selos:</strong>
                <span class="seal">Avaliador UFPR</span>
                <span class="seal">Avaliador UnB</span>
                <span class="seal">Selo Mapas</span>
        </div>
        <p class="agent-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="access-profile-container">
            <button class="btn btn-primary access-profile">acessar perfil</button>
        </div>
    </div>
</div>

<div class="mw-100 agent-card">
    <div class="agent-card-header">
        <img src="../assets/img/examples/agent-card2.png" alt="Foto do agente" class="rounded-circle">
        <div class="agent-info">
            <h5 class="agent-name">Anne Elisa</h5>
            <span class="agent-type person">
              <i class="material-icons">person</i> Pessoa
            </span>
        </div>
    </div>

    <div class="agent-card-body">
        <p class="agent-area"><strong>Áreas de atuação (3):</strong><span class="agent-sub-area">DESIGN, ARTES VISUAIS, ARTES GRÁFICA</span></p>
        <div class="location-seals-container">
            <div class="agent-seals">
                <p class="seals-area"><strong>Selos:</strong>
                    <span class="seal">Avaliador UFPR</span>
                </p>
            </div>
        </div>
        <p class="agent-location"><strong>Localização:</strong> Brasília (DF)</p>
        <p class="agent-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
        <div class="access-profile-container">
            <button class="btn btn-primary access-profile">Acessar perfil</button>
        </div>
    </div>
</div>

<div class="mw-100 agent-card">
    <div class="agent-card-header">
        <img src="../assets/img/examples/agent-card3.png" alt="Foto do agente" class="rounded-circle">
        <div class="agent-info">
            <h5 class="agent-name">Estúdio de Anne Elisa</h5>
            <span class="agent-type organization">
              <i class="material-icons">groups</i> Organização
            </span>
        </div>
    </div>

    <div class="agent-card-body">
        <p class="agent-area"><strong>Áreas de atuação (1):</strong><span class="agent-sub-area">DESENVOLVIMENTO</span></p>
        <p class="agent-location"><strong>Localização:</strong> Goiânia (GO)</p>
        <div class="agent-seals">
            <p class="seals-area"><strong>Selos:</strong>
                <span class="seal">Selo Mapas</span>
        </div>
        <p class="agent-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
        <div class="access-profile-container">
            <button class="btn btn-primary access-profile">Acessar perfil</button>
        </div>
    </div>
</div>
