<ul class="nav nav-pills">
    {% for pill in pills %}
        <li class="nav-item">
            <a class="nav-link {{ loop.first ? 'active' : '' }}" data-bs-toggle="pill" href="#{{ pill.id }}">{{ pill.id|trans }}</a>
        </li>
    {% endfor %}
</ul>
