<div class="clearfix">
    <button data-cy="change-history-btn" type="button" class="btn btn-outline-success fw-bold px-sm-5 py-sm-2 btn-outline__entity-details float-start">
        {{ 'view.entities.change_history'|trans }}
    </button>
    <button data-cy="report-btn" type="button" class="btn btn-outline-success fw-bold px-sm-5 py-sm-2 btn-outline__entity-details float-end">
        {{ 'view.entities.report'|trans }}
    </button>
</div>
