<h5 class="mb-4 fw-bold card-title__entity-details">{{ 'social_media' | trans }}</h5>

<div class="row">
    <div class="col mb-2">
        <label class="fw-bold mb-2">Instagram</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">X ({{ 'old' | trans }} Twitter)</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">Facebook</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <label class="fw-bold mb-2">Vimeo</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">YouTube</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">Linkedin</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <label class="fw-bold mb-2">Spotify</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">Pinterest</label>
        <p class="d-flex">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
    <div class="col mb-2">
        <label class="fw-bold mb-2">Tiktok</label>
        <p class="d-flex m-0">
            <i class="material-icons fs-4 me-1">facebook</i>
            <span class="align-top fw-bold">
                <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
            </span>
        </p>
    </div>
</div>
