{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'dashboard' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/admin-dashboard.css') }}">
{% endblock %}

{% block content %}

    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100">
            <section class="dashboard__white-square">
                {% include "_admin/dashboard/_partials/header-dashboard.html.twig" %}

                {% include "_admin/dashboard/_partials/tabs/tabs.html.twig" %}
            </section>

            <section class="dashboard-content">
                {% include "_admin/dashboard/_partials/tabs/content-tabs.html.twig" %}
            </section>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}
