<div class="tab-content" id="pills-tabContent">
    {% for tab in tabs %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="pills-{{ tab.id }}" role="tabpanel" aria-labelledby="pills-{{ tab.id }}-tab" tabindex="0">
            <div id="scroll-container" class="d-flex flex-nowrap align-items-stretch overflow-x-auto overflow-y-hidden scroll-container-horizontal">
                {% if tab.content is iterable %}
                    {% for content in tab.content %}
                        <div class="m-2" style="min-width: 360px;">
                            {{ content|raw }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="w-100" data-cy="pills-list-content">
                        {{ tab.content|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.querySelectorAll('#pills-tab .nav-link').forEach(tab => {
        tab.addEventListener('click', function() {
            document.querySelectorAll('#pills-tabContent > .tab-pane').forEach(pane => {
                pane.classList.remove('show', 'active');
            });
            const target = document.querySelector(this.getAttribute('href'));
            target.classList.add('show', 'active');
        });
    });

    const scrollAmount = 376;

    function getActiveScrollContainer() {
        const activePane = document.querySelector('.tab-pane.show.active');
        return activePane.querySelector('#scroll-container');
    }
    const scrollLeftBtn = document.getElementById('btn-card-prev');
    const scrollRightBtn = document.getElementById('btn-card-next');

    if (scrollLeftBtn) {
        scrollLeftBtn.addEventListener('click', function() {
            const scrollContainer = getActiveScrollContainer();
            if (scrollContainer) {
                scrollContainer.scrollBy({
                    left: -scrollAmount,
                    behavior: 'smooth'
                });
            }
        });
    }

    if (scrollRightBtn) {
        scrollRightBtn.addEventListener('click', function() {
            const scrollContainer = getActiveScrollContainer();
            if (scrollContainer) {
                scrollContainer.scrollBy({
                    left: scrollAmount,
                    behavior: 'smooth'
                });
            }
        });
    }
</script>
