{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    {{ 'spaces'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/spaces.css') }}">
{% endblock %}

{% block content %}
    <section class="white-square">
        {% include '_components/breadcrumb.html.twig' with {
            items: [
                {text: 'home'|trans, path: path('web_home_homepage')},
                {text: 'spaces'|trans, path: path('web_space_list')},
            ]
        } %}

        {% include '_components/title.html.twig' with {
            title: 'spaces'|trans,
            action: {
                path: path('admin_space_create'),
                text: 'view.space.create'|trans
            }
        } %}

        {% include "_components/entity-dashboard.html.twig" with { 'dashboard': dashboard} %}

        {% include 'space/_partials/tabs/tabs.html.twig' %}
    </section>

    {% if token %}
    <button id="open-filter" class="filter-btn">
        <i class="material-icons">filter_alt</i>
    </button>

    <section class="entity-wrapper">
        {% include 'space/_partials/side-filter.html.twig' %}

        <div class="entity-container">
            {% include 'space/_partials/tabs/content-tabs.html.twig' %}
        </div>
    </section>
    {% else %}
    <section class="entity-wrapper">
        <div class="entity-container">
            {% include 'space/_partials/tabs/content-tabs.html.twig' %}
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/order-select.js') }}"></script>
{% endblock %}
