{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ space.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/spaces.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pages/agents.css') }}">
{% endblock %}

{% block content %}

    <section class="entity-section">
        {% include "space/_partials/header.html.twig" with {
            name: space.name,
            id: space.id,
            tabs: 'space/_partials/details-tabs/details-tabs.html.twig',

        } %}
    </section>

    <section class="profile-entity-wrapper">
        {% include "space/_partials/details-tabs/content-tabs.html.twig" %}
    </section>

{% endblock %}

{% block footer %}{% endblock %}
