<section class="container mt-5">
    <p class="fs-5">{{ 'view.faq.categories' |trans }}</p>

    <div class="row">
        {% for i in 1..6 %}
            <div class="col-md-6 mt-2">
                <div class="card card-body card-faq-item">
                    <p>{{ 'view.faq.question_1' | trans }}</p>
                    <i class="material-icons">chevron_right</i>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
