<section class="support-info">
    <p>{{ 'view.faq.looking' | trans}} <a href="#" class="support-link">{{ 'click_here' | trans }}</a> {{ 'view.faq.support' | trans }}
        {{ 'view.faq.send' | trans }} <a href="mailto:suporteaurora@gmail.com" class="support-email">suporteaurora@gmail.com</a>.</p>
</section>
