<div class="container-fluid contacts p-0">
    <div class="row g-2 g-md-3">
        <div class="col-md-6">
            <label for="private-email" class="form-label">{{ 'private_email' | trans }}</label>
            <input type="text" class="form-control" id="private-email" placeholder="{{ 'type_here' | trans }}">
        </div>

        <div class="col-md-6">
            <label for="private-phone" class="form-label">{{ 'private_phone' | trans }}</label>
            <input type="text" class="form-control" id="private-phone" placeholder="(00) 00000-0000">
        </div>
    </div>
</div>
