<section class="entity-owner">
    <p class="px-4 pt-2">Este espaço pertence a <a href="{{ path("web_agent_getOne", {"id": owner.id}) }}" target="_blank" class="text-decoration-none fw-bold">{{ owner.name }}</a></p>
</section>
