<div class="d-flex justify-content-between align-items-center">
    <h2 class="page-title">{{ 'events' | trans }}</h2>

    <div class="initiative-button-container">
        <button class="btn btn-primary create-initiative-btn">
            {{ 'event.create' | trans }}
        </button>
    </div>
</div>


