.breadcrumb {
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 0.875rem;
    padding-top: 0.3125rem;
    cursor: pointer;
    width: var(--WIDTH_DEFAULT);
    margin: auto;
    --bs-gutter-x: 0;
}

.breadcrumb a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-subtitle-gray);
}

.breadcrumb a:hover {
    cursor: pointer;
    color: var(--bs-primary);
}

.breadcrumb a + a::before {
    content: " > ";
    margin: 0 0.3125rem;
    color: var(--soft-gray);
}

.name-one{
    padding-bottom: 0.3125rem;
    margin-bottom: 1.5625rem;
}

.entity-banner .breadcrumb {
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 0 !important;
    margin-left: 8.5rem !important;
    margin-top: 1.438rem;
}

@media (max-width: 768px) {
    .breadcrumb {
        width: var(--WIDTH_DEFAULT_MOBILE);
    }
}
