.breadcrumb {
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
    cursor: pointer;
    width: var(--WIDTH_DEFAULT);
    margin: auto;
}

.breadcrumb a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-subtitle-gray);
}

.breadcrumb a:hover {
    cursor: pointer;
    color: var(--bs-primary);
}

.breadcrumb a + a::before {
    content: " > ";
    margin: 0 5px;
    color: var(--soft-gray);
}

.name-one{
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.entity-banner .breadcrumb {
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 0 !important;
    margin-left: 8.5rem !important;
    margin-top: 1.438rem;
}
