.entity-dashboard {
    display: flex;
    justify-content: center;
    gap: 0.15rem;
    width: var(--WIDTH_DEFAULT);
    margin: 0 auto;
    --bs-gutter-x: 0 !important;
}

.dashboard-card {
    background-color: var(--card-bg-color);
    box-shadow: 0 0.125rem 0.625rem var(--box-shadow-color);
    border-radius: 0.3125rem;
    padding: 0.6875rem;
    margin: 0 auto;
}

.dashboard-card .quantity {
    font-size: 2rem;
    width: 12.4375rem;
    height: 2.75rem;
    font-weight: bold;
    margin: 0;
}

.dashboard-card .content {
    margin-top: 0.625rem;
}

.dashboard-card .text {
    font-size: 1rem;
    font-family: var(--font-open-sans);
    color: var(--color-subtitle-gray);
    display: block;
    text-align: left;
}

@media (max-width: 768px) {
    .entity-dashboard {
        width: var(--WIDTH_DEFAULT_MOBILE);
    }
}
