.navbar-brand img {
    height: unset;
    width: 250px;
}

.navbar {
    position: relative;
}

.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .437rem;
    border-radius: 50%;
    color: var(--bs-white);
    background-color: var(--color-text-grey-1);
    font-size: 1.2rem;
    transition: 150ms;
}

.my-account {
    display: flex;
    flex-direction: column;
}

.my-account span:first-child {
    color: var(--deep-teal);
    font-weight: 700;
    font-size: 14px;
}

.my-account a {
    color: var(--deep-teal);
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    display: inline;
}

.my-account a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
