.navbar-brand img {
    height: unset !important;
    width: unset !important;
}

.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .437rem;
    border-radius: 50%;
    color: var(--bs-white);
    background-color: var(--color-text-grey-1);
    font-size: 1.2rem;
    transition: 150ms;
}

.my-account {
    display: flex;
    flex-direction: column;
}

.my-account span:first-child {
    color: var(--deep-teal);
    font-weight: 700;
    font-size: 14px;
}

.my-account a {
    color: var(--deep-teal);
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    display: inline;
}

.my-account a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.notifications-login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    width: 32rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-color-f);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-content {
    display: flex;
    gap: 1.5rem;
}

.menu-column {
    width: 50%;
}

.dropdown-header {
    font: var(--font-open-sans);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--main-font-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dropdown-item {
    font: var(--font-open-sans);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--main-font-color);
}

.dropdown-item i.material-icons {
    font-size: 1.2rem;
    color: var(--btn-publish-custom-color);
}

.dropdown-item:hover {
    background-color: var(--snow-mist);
    border-radius: 4px;
}

.dropdown.notifications-login > button {
    border: 0 !important;
}

.badge-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--circle-red);
    color: var(--bg-color-f);
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.btn.dropdown-toggle {
    color: var(--btn-publish-custom-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    font-weight: bold;
    outline: none;
    box-shadow: none;
}

.navbar .dropdown .btn.dropdown-toggle:focus,
.navbar .dropdown .btn.dropdown-toggle:active,
.navbar .dropdown .btn.dropdown-toggle:visited,
.navbar .dropdown .btn.dropdown-toggle:hover {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 100%;
    }

    .dropdown-content {
        flex-wrap: wrap;
    }
}


