.page-title {
    width: var(--WIDTH_DEFAULT);
    margin: auto;
    --bs-gutter-x: 0 !important;
    display: flex;
    align-items: center;
}

.page-title h2 {
    font-family: var(--font-open-sans);
    font-weight: 700;
    line-height: 43.58px;
    text-align: left;
    color: var(--main-font-color);
}

@media (max-width: 768px) {
    .page-title {
        width: var(--WIDTH_DEFAULT_MOBILE);
    }

    .page-title h2 {
        padding-top: 0.7rem;
    }
}
