<form action="{{ path('web_auth_register') }}" method="post" class="form-stepper w-auto" id="registrationForm">
    <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
    <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active"></div>
        <div class="progress-step"></div>
{#        <div class="progress-step"></div>#}
    </div>

    {% include 'authentication/_partials/cards-registration/registration-stage-1.html.twig' %}
    {% include 'authentication/_partials/cards-registration/registration-stage-2.html.twig' %}
{#    {% include 'authentication/_partials/cards-registration/registration-stage-3.html.twig' %}#}
</form>
