@import url(colors.css);
@import url(font.css);

body {
    background-color: var(--bg-color);
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.agent-wrapper {
    position: relative;
    margin-top: 47px;
}

.content{
    flex: 1;
}

.bg-rose {
    background-color: var(--bg-rose);
}

.text-rose {
    color: var(--bg-rose);
}

.bg-green {
    background-color: var(--bg-green);
}

.text-green {
    color: var(--bg-green);
}

.bg-aqua {
    background-color: var(--bg-aqua);
}

.text-red-dark {
    color: var(--bg-red-dark);
}

.text-moss{
    color: var(--color-moss);
}

.search-input-group {
    max-width: 30rem;
}

.contribute-maps {
    background-size: cover !important;
    background: linear-gradient(rgba(0, 43, 71, 0.85), rgba(0, 43, 71, 0.85)), url('../img/home-contribua-mapas.png') center;
    display: flex;
}

#btn-carousel-homepage {
    width: 48px;
    height: 48px;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.custom-card img {
    width: 72px;
    height: 72px;
    max-width: 100%;
    margin-right: 10px;
}

.custom-card .badge {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.custom-card .btn-primary {
    padding: 10px 10px;
    width: 100%;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.agent-panel {
    background-color: var(--snow-mist);
    padding: 0 8.75rem;
    border: 1px solid transparent;
}

.navbar {
    position: relative;
}

.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .437rem;
    border-radius: 50%;
    color: var(--bs-white);
    background-color: var(--color-text-grey-1);
    font-size: 1.2rem;
    transition: 150ms;
}

.dashboard-card {
    width: 23rem;
}

.entity-dashboard {
    display: flex;
    justify-content: center;
    gap: 0.15rem;
    width: 78.2%;
    margin: 0 auto;
}

.lock-icon {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 24px;
    color: var(--favorite-icon-color);
    padding: 10px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -25.1875rem;
    width: 25.1875rem;
    height: 100%;
    background-color: var(--snow-mist);
    transition: left 0.3s ease;
    padding: 20px;
    margin-right: 50px;
    padding: 13px 30px;
}

.sidebar.open {
    left: 0;
}

.content-agent {
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.agent-list {
    width: 91.875rem;
    justify-content: center;
    transition: width 0.3s, transform 0.3s;
    position: relative;
}

.agent-list.shifted {
    width: 1240px;
    transform: translateX(37px);
}

.breadcrumb-agent{
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 14px;
    color: #333;
    margin-top: 23px;
    cursor: pointer;
    text-transform: uppercase;
}

.breadcrumb-agent span + span::before {
    content: " > ";
    margin: 0 5px;
    color: var(--medium-gray);
    cursor: auto;
}

.entity-dashboard-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 33px;
}

.agent-tabs {
    display: flex;
    align-content: center;
    gap: 0.625rem;
}

.agent-sort {
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.agent-sort label {
    text-wrap: nowrap;
    align-self: center;
}

.access-profile {
    background-color: var(--next-button-form);
}

.agent-options {
    text-wrap: nowrap;
}

.my-account {
    display: flex;
    flex-direction: column;
}

.my-account span:first-child {
    color: var(--deep-teal);
    font-weight: 700;
    font-size: 14px;
}

.my-account :nth-child(2) {
    color: var(--deep-teal);
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

.my-account :nth-child(2):hover {
    text-decoration: underline;
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .custom-card .btn-primary {
        width: 90%;
        bottom: 5px;
        right: 5px;
    }
}

@media (max-width: 576px) {
    .custom-card .btn-primary {
        width: 100%;
        position: static;
        margin-top: 1rem;
    }
}

.white-square {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-f);
    position: relative;
}

.breadcrumb {
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 14px;
    color: var(--color-subtitle-gray);
    margin-left: 207px;
    padding-top: 5px;
    cursor: pointer;
}

.breadcrumb span {
    text-transform: uppercase;
}

.breadcrumb span + span::before {
    content: " > ";
    margin: 0 5px;
    color: var(--soft-gray);
}

.name-one{
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.page-title {
    font-family: var(--font-open-sans);
    font-size: 40px;
    font-weight: 700;
    line-height: 43.58px;
    text-align: left;
    color: var(--main-font-color);
    margin-left: 207px;
    margin-top: 26px;
    margin-bottom: 45px;
}

.view-options-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

.view-options {
    display: flex;
    align-items: center;
    margin-left: 370px;
}

.view-label {
    font-weight: bold;
    font-family: var(--font-open-sans);
    margin-right: 20px;
    padding-bottom: 2px;
    margin-bottom: -0.2rem;
}

.view-option {
    text-decoration: none;
    color: var(--color-subtitle-gray);
    font-family: var(--font-open-sans);
    font-size: 14px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.view-option i {
    margin-right: 5px;
    font-size: 20px;
}

.view-option.active {
    color: var(--btn-publish-custom-color);
    border-bottom: 2px solid var(--btn-publish-custom-color);
}

.sort-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 460px;
}

.sort-dropdown label {
    font-family: var(--font-open-sans);
    font-size: 14px;
    margin-right: 15px;
    color: var(--main-font-color);
}

.sort-dropdown .form-select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--btn-publish-custom-color);
    font-family: var(--font-open-sans);
    font-size: 14px;
    background-color: var(--bg-color-f);
    width: 12rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 9px;
    max-width: 195rem;
    margin: 0 auto;
    padding: 5px;
}

.space-card {
    background-color: var(--bg-color-f);
    padding: 20px;
    border: 1px solid var(--colo-circle);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 940px;
    width: 100%;
}

.space-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.space-card-header img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.space-info {
    display: flex;
    flex-direction: column;
}

.space-name {
    font-family: var(--font-open-sans);
    font-size: 18px;
    font-weight: 700;
    color: var(--btn-publish-custom-color);
    margin: 0;
}

.space-type i {
    margin-right: 5px;
}

.space-card-body {
    margin-top: 10px;
}

.space-area,
.space-location,
.space-seals,
.space-description {
    font-family: var(--font-open-sans);
    font-size: 14px;
    color: var(--color-subtitle-gray);
    margin-bottom: 15px;
}

.space-area strong,
.space-location strong,
.seals-area strong {
    font-weight: bold;
    color: var(--color-subtitle-gray);
}

.space-sub-area {
    color: var(--btn-publish-custom-color);
    font-weight: bold;
}

.space-location {
    margin-bottom: 10px;
}

.space-seals {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.seal {
    background-color: var(--bg-color);
    padding: 15px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-subtitle-gray);
}

.space-description {
    color:var(--color-subtitle-gray);
    line-height: 1.5;
}

.access-profile-container {
    text-align: right;
    margin-top: 15px;
}

.access-profile {
    background-color: var(--btn-publish-custom-color);
    font-weight: bold;
    color: var(--bg-color);
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.access-profile:hover {
    background-color: var(--btn-publish-custom-color);
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--bg-all);
    margin-right: 15px;
}

.icon-circle i {
    font-size: 36px;
    color: var(--soft-gray);
}

.initiative-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
    padding-right: 20px;
}

.initiative-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 19rem;
    margin-bottom: 15px;
}

.initiative-icon {
    background-color: var(--bg-blue);
    width: 2.9rem;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initiative-icon i {
    color: var(--bg-color-f);
    font-size: 25px;
}

.create-initiative-btn {
    background-color: var(--btn-publish-custom-color);
    color: var(--bg-color-f);
    font-family: var(--font-open-sans);
    font-weight: bold;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.create-initiative-btn i {
    margin-right: 5px;
    font-size: 20px;
}

.create-initiative-btn:hover {
    background-color: var(--next-button-form);
}

.initiative-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.initiative-card {
    font-family: var(--font-open-sans);
    background-color: var(--card-bg-color);
    border: none;
    border-radius: 7px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    box-shadow: none;
}

.initiative-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.initiative-card-header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.initiative-card-body {
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.initiative-info {
    flex-grow: 1;
}

.initiative-title {
    font-family: var(--font-open-sans);
    color: var(--main-font-color);
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

initiative-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    text-align: center;
}

.initiative-id {
    font-family: var(--font-open-sans);
    font-size: 0.9rem;
    margin-top: 5px;
}

.initiative-type {
    margin-left: auto;
}

.initiative-badge {
    font-family: var(--font-open-sans);
    background-color: var(--color-sub-area);
    padding: 13px 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--main-font-color);
}

.initiative-description {
    font-family: var(--font-open-sans);
    color: var(--color-subtitle-gray);
    margin-bottom: 10px;
}

.initiative-tags {
    font-family: var(--font-open-sans);
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: var(--main-font-color);
}

.access-initiative {
    background-color: transparent;
    color: var(--btn-publish-custom-color);
    font-family: var(--font-open-sans);
    font-weight: bold;
    border: 2px solid var(--btn-publish-custom-color);
    padding: 10px 60px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.access-initiative-container {
    text-align: right;
}

.access-initiative:hover {
    background-color: var(--btn-publish-custom-color);
    color: var(--card-bg-color);
}

.initiative-body-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.initiative-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13rem;
    top: 110px;
}

.lock-icon-initiative{
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 24px;
    color: var(--bg-icon-circle);
    padding: 10px;
}

.custom-icon-initiative{
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 24px;
    color: var(--bg-icon-circle);
    padding: 10px;
}
.custom-collective-icon-initiative{
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 24px;
    color: var(--bg-icon-circle);
    padding: 10px;
}

.initiative-tabs {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: left;
    text-align: center;
    margin-top: -5px;
    margin-left: 13rem;
}

.initiative-sort-container {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 1rem;
    width: 100%;
    padding-left: 27rem;
}

.initiative-line {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.initiative-options {
    margin-top: 5px;
    margin-right: 1rem;
}

.initiative-sort {
    align-items: center;
}

