@import url(colors.css);
@import url(font.css);

:root {
    --WIDTH_DEFAULT: 78.2%;
    --WIDTH_DEFAULT_MOBILE: 90%;
    --WIDTH_FULL: 100%;
}

body {
    background-color: var(--bg-color);
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.entity-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 47px;
    min-height: 62rem;
}

.content{
    flex: 1;
}

.bg-rose {
    background-color: var(--bg-rose);
}

.text-rose {
    color: var(--bg-rose);
}

.bg-green {
    background-color: var(--bg-green);
}

.text-green {
    color: var(--bg-green);
}

.bg-aqua {
    background-color: var(--bg-aqua);
}

.text-red-dark {
    color: var(--bg-red-dark);
}

.text-moss{
    color: var(--color-moss);
}

.search-input-group {
    max-width: 30rem;
}

.contribute-maps {
    background-size: cover !important;
    background: linear-gradient(rgba(0, 43, 71, 0.85), rgba(0, 43, 71, 0.85)), url('../img/home-contribua.png') center;
    display: flex;
}

.btn-carousel-homepage {
    width: 48px;
    height: 48px;
}

.scroll-container-horizontal{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-container-horizontal::-webkit-scrollbar {
    display: none;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.custom-card img {
    width: 72px;
    height: 72px;
    max-width: 100%;
    margin-right: 10px;
}

.custom-card .badge {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.custom-card .btn-primary {
    padding: 10px 10px;
    width: 100%;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.lock-icon {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 24px;
    color: var(--favorite-icon-color);
    padding: 10px;
}

.sidebar {
    position: absolute;
    border-radius: 0 8px 0 0;
    top: 0;
    left: -25.1875rem;
    width: 25.1875rem;
    height: 100%;
    background-color: var(--bs-white) !important;
    transition: left 0.3s ease;
    margin-right: 50px;
    padding: 13px 30px;
    box-shadow: 0 -2px 10px var(--box-shadow-color, rgba(0, 0, 0, 0.1));
}

.sidebar.open {
    left: 0;
}

.content-agent {
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.agent-list {
    width: 91.875rem;
    justify-content: center;
    transition: width 0.3s, transform 0.3s;
    position: relative;
}

.agent-list.shifted {
    width: 1240px;
    transform: translateX(37px);
}

.entity-dashboard-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 33px;
}

.agent-tabs {
    display: flex;
    align-content: center;
    gap: 0.625rem;
}

.agent-sort {
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.agent-sort label {
    text-wrap: nowrap;
    align-self: center;
}

.agent-options {
    text-wrap: nowrap;
}

.white-square {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-f);
    position: relative;
}

.name-one{
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.view-options-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

.view-options {
    display: flex;
    align-items: center;
    margin-left: 370px;
}

.view-label {
    font-weight: bold;
    font-family: var(--font-open-sans);
    margin-right: 20px;
    padding-bottom: 2px;
    margin-bottom: -0.2rem;
}

.view-option {
    text-decoration: none;
    color: var(--color-subtitle-gray);
    font-family: var(--font-open-sans);
    font-size: 14px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.view-option i {
    margin-right: 5px;
    font-size: 20px;
}

.view-option.active {
    color: var(--btn-publish-custom-color);
    border-bottom: 2px solid var(--btn-publish-custom-color);
}

.sort-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 460px;
}

.sort-dropdown label {
    font-family: var(--font-open-sans);
    font-size: 14px;
    margin-right: 15px;
    color: var(--main-font-color);
}

.sort-dropdown .form-select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--btn-publish-custom-color);
    font-family: var(--font-open-sans);
    font-size: 14px;
    background-color: var(--bg-color-f);
    width: 12rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 9px;
    max-width: 195rem;
    margin: 0 auto;
    padding: 5px;
}

.seal {
    padding: 7px 26px;
    border-radius: 20px;
    margin-right: 36px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-subtitle-gray);
}

.access-profile-container {
    text-align: right;
    margin-top: 15px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--bg-all);
    margin-right: 15px;
}

.entity-page-tabs {
    display: flex;
    width: var(--WIDTH_DEFAULT);
    margin-left: 13rem;
}

.entry-fee, .participants {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.entry-fee i, .participants i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.event-seals .seal {
    color: var(--main-font-color);
    margin-right: 0;
}

.card-view-more  {
    color: var(--deep-teal)
}

.entity-container {
    width: var(--WIDTH_DEFAULT);
    transition: width 0.3s, transform 0.3s;
}

.entity-container.shifted {
    width: 65.2%;
    transform: translateX(10%);
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

#counter {
    text-align: right;
    font-size: 12px;
    color: #999;
}

#areas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.area-tag {
    background-color: var(--color-attention-100);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
}

.remove-tag {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.search-box {
    position: relative;
    width: 32.75rem;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 1px solid var(--input-border);
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

.search-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    pointer-events: none;
}

.management-panel  {
    padding-left: 1rem;
}

.management-panel__white-square {
    background-color: var(--bg-color-f);
    width: 100%;
    height: 11.563rem;
    padding: 2rem 2.2rem 0 1.125rem;
}

.management-panel__action {
    width: 12rem;
    height: 3rem;
    border: none;
    background-color: var(--next-button-form);
    color: var(--white-color);
    font-weight: 700;
    border-radius: 8px;
    transition: 0.2s;
}

.management-panel__action:hover {
    background-color: var(--next-button-form-hover);
}

.management-panel__title {
    font-weight: 700;
    font-size: 32px;
}

.mw-0 {
    max-width: 0;
}

.entity-info-wrapper {
    height: 65px;
}

img.entity-image {
    width: 120px;
    height: 120px;
    border: 1px solid var(--img-entity-border-color);
    position: relative;
    bottom: 60px;
}

.name__entity-details {
    font-family: var(--font-open-sans);
    font-size: 32px;
    line-height: 43.58px;
    color: var(--entity-name-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item .nav-link.organization:hover .material-icons {
    background-color: var(--navlink-organization);
}

.nav-item .nav-link.organization:hover p {
    color: var(--navlink-organization);
}

.entity-owner {
    background-color: var(--white-color);
    min-height: 6.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem 0 var(--box-shadow-color);
}

.breadcrumb__entity-details {
    position: absolute;
    top: 0;
}

.card__entity-details {
    border-radius: 4px;
    border: 1px solid var(--bg-color-f);
}

.card-title__entity-details {
    font-size: 18px;
}

img.card-images__entity-details {
    width: 50px;
    height: 50px;
}

.card-names-ellipse__entity-details {
    width: 50px;
    height: 50px;
    background-color: var(--bg-color-images);
}

.btn-outline__entity-details {
    border: 2px solid var(--deep-teal);
    color: var(--deep-teal);
}

.btn-outline__entity-details:hover {
    background-color: var(--deep-teal);
    border: 2px solid var(--deep-teal);
}

.btn.btn-outline__entity-details:active {
    background-color: transparent;
    border: 2px solid var(--deep-teal);
    color: var(--deep-teal);
}

.portfolio-icon__entity-details {
    background-color: var(--bg-color-images);
}

.text__entity-details {
    color: var(--text-entity-details);
}

.bs__bg-primary {
    background-color: var(--bs-blue);
}

.list-page__access-btn {
    border-radius: 8px;
    border-width: 2px;
    padding: 10px 55px;
    font-weight: bold;
}

.google-maps iframe {
    width: 100% !important;
}

.filter-btn {
    margin-top: 6.2rem;
    z-index: 2;
}

.title-fs {
    font-size: 2.5rem;
}

.entity-seals {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.seal-entity {
    font-weight: bold;
    font-size: 0.8125rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.seal-entity::before {
    content: '';
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: var(--bg-color-images);
}

.entity-edit {
    background-color: rgba(245, 245, 245, 0.84);
    width: 100%;
}

.entity-edit-content {
    margin: 0.7rem 5rem 0 5rem;
}

.entity-edit-header {
    background-color: var(--white-color);
    padding: 0.625rem 4rem 0 5rem;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entity-edit-header h1 {
    margin-top: 1.4rem;
    margin-left: 0.28rem;
}

.entity-edit-header .breadcrumb {
    margin: 0.625rem 0 0 0.3rem;
    padding: 0 !important;
}

.entity-edit-header .entity-page-tabs {
    margin: 0;
}

.entity-edit-header .entity-page-tabs li a {
    padding: 0 0.3125rem 0.625rem 0.3125rem;
}

.entity-edit-header .entity-page-tabs li a::after {
    width: 100% !important;
}

.entity-edit-content .accordion-button {
    background-color: var(--white-color);
    font-size: 1.5rem;
    font-family: var(--font-open-sans);
    color: var(--deep-teal);
    font-weight: bold;
    padding: 2rem 1.25rem;
}

.entity-imgs {
    width: 100%;
    position: relative;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin-bottom: 1.875rem;
}

.banner {
    width: 100%;
    height: 12.5rem;
    position: relative;
}

.banner-label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--deep-teal);
    font-weight: bold;
}

.banner-input {
    display: none;
}

.profile-pic {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 3%;
    bottom: -55px;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
    background-color: white;
}

.profile-label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconify.entity-edit-icon {
    font-size: 1.9rem;
    color: var(--deep-teal);
}

.profile-label input {
    display: none;
}

.entity-introduction-data {
    margin-top: 5rem;
}

.entity-introduction-data label,
.entity-address-data label,
.entity-accessibility label,
.opening-hours label,
.entity-social-media label {
    font-weight: bold;
    margin-top: 1.5rem;
}

.entity-introduction-data input,
.entity-introduction-data textarea,
.entity-address-data input,
.entity-address-data select,
.entity-accessibility input,
.entity-accessibility select,
.opening-hours input,
.opening-hours select,
.entity-social-media input{
    border: 1px solid var(--border-gray);
    margin-top: 0.625rem;
    padding: 0.7rem;
}

.entity-input-tags {
    display: flex;
    flex-direction: column;
}

.entity-input-tags span {
    background-color: var(--deep-teal);
    width: 11rem;
    color: var(--bs-white);
    font-size: 0.9rem;
    border-radius: 1rem;
    padding: 0.3rem 0;
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.entity-introduction-data textarea {
    height: 12rem;
}

.entity-introduction-data textarea[maxlength="400"] {
    height: 6rem;
}

.accordion-button {
    border-radius: 0.6rem 0.6rem 0 0 !important;
}

.accordion-item {
    border-radius: 0.6rem !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);

}

.entity-accessibility .form-check-label {
    margin-top: 0.60rem;
    font-weight: normal;
    font-size: 1rem;
}

.entity-accessibility .form-check {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.entity-accessibility .architectural {
    color: var(--bs-pink);
}

.permissions input {
    border: 1px solid var(--border-gray);
}

.entity-social-media {
    padding: 0;
}

.entity-social-media .input-group {
    border: 1px solid var(--border-gray);
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
    border-radius: 0.35rem;
}


.entity-social-media input {
    border: none;
    margin-top: 0;
}


.entity-social-media input:focus {
    box-shadow: none;
}

.entity-edit-submit {
    display: flex;
    justify-content: space-between;
    background-color: var(--deep-teal);
    position: sticky;
    padding: 1.5rem 5rem;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.entity-edit-submit div {
    display: flex;
    gap: 0.625rem;
}

.entity-edit-submit button {
    font-weight: bold;
    border: 2px solid;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.entity-edit-submit button:hover {
    color: var(--deep-teal);
}

.entity-edit-submit button[type="submit"] {
    color: var(--deep-teal);
    border: none;
}

.accordion-button:focus {
    z-index: 0;
    box-shadow: none;
}

.accordion-button:hover {
    z-index: 0;
}

.required::after {
    content: " *";
    color: var(--bs-red);
}

@media (min-width: 1400px) {
    .name__entity-details {
        max-width: 755px;
    }

    .id__entity-details {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 1200px) {
    .entity-container {
        width: var(--WIDTH_DEFAULT_MOBILE);
    }

    .entity-wrapper {
        transition: 0.5s;
        margin-top: 5.5rem;
    }

    .filter-btn {
        height: 3.8rem;
        margin-top: 1rem;
    }

    .entity-wrapper.open {
        margin-top: 1rem;
    }

    .sidebar.open {
        width: 100%;
        padding-left: 1.2rem;
        padding-right: 1rem;
        margin: 0;
        z-index: 2;
    }

    .entity-container.shifted {
        width: var(--WIDTH_DEFAULT_MOBILE);
        transform: none;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-group .filter-form {
        width: 100%;
    }
}

@media (max-width: 1045px) {
    .entity-edit-submit {
        padding: 1.5rem;
    }

    .entity-edit-submit button {
        width: 7.5rem;
    }
}

@media (max-width: 768px) {
    .custom-card .btn-primary {
        width: 90%;
        bottom: 5px;
        right: 5px;
    }

    .form-select {
        padding-right: 1.875rem;
    }

    .entity-page-tabs {
        position: relative;
        margin-left: 1.2rem;
        align-items: center;
        white-space: nowrap;
        width: var(--WIDTH_DEFAULT_MOBILE);
        padding: 0.5rem;
        gap: 0.8rem;
    }

    .entity-page-tabs p {
        padding-top: 0.8rem;
    }

    .pill-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        gap: 0.2rem;
    }

    .entity-page-tabs::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 100%;
        background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
        pointer-events: none;
    }

    .pill-tabs:last-child {
        padding-right: 3rem;
    }

    .title-fs {
        font-size: 1.35rem;
    }

    .form-select.entity {
        width: 150px;
    }

    .entity-seals {
        gap: 0.3rem;
        align-items: start;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .entity-edit-header {
        padding: 0.625rem 0 0 0.625rem;
        gap: 0.3rem;
    }

    .breadcrumb a {
        font-size: 0.6875rem;
    }

    .entity-edit-header .entity-page-tabs {
        margin-top: 0.4rem;
        padding: 0;
    }

    .entity-edit-content {
        margin: 0.625rem 1rem;
    }

    .entity-mandatory-fields {
        font-size: 14px;
    }

    .accordion-button {
        font-size: 1.2rem !important;
    }

    .responsive-size {
        font-size: 0.875rem;
    }

    .banner {
        height: 8rem;
    }

    .profile-pic {
        width: 5.3rem;
        height: 5.3rem;
        left: 35%;
        bottom: -2.625rem;
    }

    .entity-input-tags span {
        text-wrap: nowrap;
        margin-top: 0.4rem;
        padding-left: 0.3125rem;
    }

    .entity-introduction-data {
        margin-top: 3rem;
    }

    .entity-edit-submit {
        padding: 0.625rem;
        flex-direction: column;
        gap: 0.625rem;
    }

    .entity-edit-submit div {
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .side-navigation {
        display: none;
    }

    .custom-card .btn-primary {
        width: 100%;
        position: static;
        margin-top: 1rem;
    }

    img.entity-image {
        width: 90px;
        height: 90px;
        bottom: 45px;
    }

    .name__entity-details {
        font-size: 22px;
        line-height: 25px;
    }
}
