@import "colors.css";

body {
    background-color: var(--bg-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5.2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
}
