:root {
    --bg-color: #EFEFEF;
    --bg-rose: #FFAF99;
    --bg-green: #64C048;
    --bg-aqua: #76E5EB;
    --bg-red-dark: #D50200;
    --circle-green: #118500;
    --main-font-color: #000000;
    --btn-publish-custom-color: rgba(17, 124, 131, 1);
    --color-subtitle-gray: #3E3E3E;
    --colo-circle: #C4C4C4;
    --color-sub-area: #ffa500;
    --soft-gray: #767676;
    --next-button-form: #117C83;
    --next-button-form-hover: #016a6e;
    --bg-color-f: #ffffff;
    --bg-all: #e0e0e0;
    --snow-mist: #F7F7F7;
    --medium-gray: #666;
    --deep-teal: #117C83;
    --bg-icon-circle: #1976d2;
    --bg-initiative: #8E46B4;
    --faq-color: #FFD699;
    --input-border: #ACACAC;
    --color-attention-100: #FFCA3A;
    --color-highlight: #FFB700;
    --dark-green: #088140;
    --dark-gray: #666;
    --paleGray: #BBB;
    --goldenYellow: #D99D03;
    --circle-red: #D14526;
    --snow-gray: #F0F0F0;
    --bg-color-images: #D9D9D9;
    --img-entity-border-color: #666666;
    --entity-name-color: #1E1E1E;
    --navlink-organization: #6A5ACD;
    --text-entity-details: #0074C1;
    --solar-amber: #F59F00;
    --graphite: #8A8A8A;
    --cloud-gray: #CCCCCC;
    --border-gray: #757575;
}
