:root {
    --bg-color: #EFEFEF;
    --bg-rose: #FFAF99;
    --bg-green: #64C048;
    --bg-aqua: #76E5EB;
    --bg-red-dark: #D50200;
    --circle-green: #118500;
    --main-font-color: #000000;
    --btn-publish-custom-color: rgba(17, 124, 131, 1);
    --color-subtitle-gray: #3E3E3E;
    --colo-circle: #C4C4C4;
    --color-sub-area: #ffa500;
    --soft-gray: #767676;
    --next-button-form: #117C83;
    --bg-color-f: #ffffff;
    --bg-all: #e0e0e0;
}
