<div class="modal fade" id="modalPrivacy" aria-hidden="true" aria-labelledby="modalPrivacyLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-semibold fs-5" id="modalPrivacyLabel">Política de Privacidade</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    A Aurora é uma plataforma livre, gratuita e colaborativa de mapeamento da Secretaria da Cultura do Estado
                    sobre o cenário cultural, a qual está disponibilizada por meio de página eletrônica na internet
                    (https://www.mapacultural.pe.gov.br/). Nesta ferramenta os Usuários poderão publicar os seus perfis artísticos,
                    consultar agendas culturais, participar de editais da cultura e receber recompensas e prêmios. O serviço Aurora
                    é gratuito e sua utilização é facultada ao cidadão que, ao utilizá-lo e dando seu aceite, adere aos termos aqui dispostos,
                    concordando e se submetendo integralmente às suas condições.
                </p>
                <p>
                    O presente documento tem o objetivo de reafirmar e esclarecer os compromissos da Secretaria de Cultura ,
                    bem como estabelecer ao Usuário as regras e condições gerais de acesso, cadastro, aceite e uso da Plataforma Aurora .
                </p>
                <p>
                    O cadastramento na Aurora  é necessário para que o Usuário possa utilizar os nossos serviços, seja consultando,
                    publicando ou participando de editais, prêmios, chamadas, concursos, espaços culturais, sociais e públicos etc.
                    A Secult/PE compromete-se a não utilizar as informações cadastrais fornecidas pelos Usuários para a realização de quaisquer
                    atividades ilícitas, mas apenas para aquelas expressamente permitidas pela legislação brasileira e/ou pelo presente instrumento.
                </p>
                <p>
                    Para utilizar os Serviços da Plataforma, o Usuário deverá criar seu Cadastro, utilizando os seguintes dados: nome artístico,
                    CPF, e-mail e senha de acesso. Posteriormente, receberá um e-mail de confirmação, para a devida concordância integral deste
                    Termo e Condições de Uso e da Política de Privacidade, separadamente, mediante o aceite eletrônico assinalando a caixa de seleção.
                </p>
                <p>
                    Após concordar com este Termo, o Usuário deverá complementar seu cadastro com as seguintes informações:
                    Área de atuação e uma breve descrição sobre seu trabalho.
                </p>
                <p>
                    A criação e o acesso ao cadastro são gratuitos e o Usuário está ciente de que alguns dados cadastrais
                    de seu perfil (nome artístico, breve descrição sobre o Usuário e a área de atuação) serão publicados a todos que acessarem a Plataforma.
                </p>

                <p>
                    O Usuário, com seu email de login e senha, conseguirá acessar a Plataforma, adicionar ao seu perfil
                    fotos e vídeos de seus trabalhos culturais, mediante aceite do Termo de Uso de Imagem e de Voz.
                </p>
            </div>
            <div class="modal-footer container justify-content-center">
                <button type="button" class="btn btn-lg btn-secondary col-4 me-4" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-lg btn-primary col-4" data-bs-dismiss="modal">Aceitar</button>
            </div>
        </div>
    </div>
</div>
