{% include "space/_partials/space-owner.html.twig" %}

<section class="mt-4">
    {% include "space/_partials/introduction.html.twig" %}

    {% include "space/_partials/social-media.html.twig" %}

    {% include "space/_partials/connections.html.twig" %}

    <div class="space-details-actions">
        <button class="left-button ">{{ 'view.agent_profile.profile_change_history' | trans }}</button>
        <button class="right-button">{{ 'view.agent_profile.report' | trans }}</button>
    </div>

</section>
