<div class="custom-header">
    <div class="header-content-inscriptions d-flex align-items-center">
        <div class="icon-container-inscriptions d-flex justify-content-center align-items-center">
            <i class="material-icons">lightbulb</i>
        </div>

        <div class="text-container-inscriptions ml-3">
            <h1 class="title-inscriptions">{{ 'my_opportunities'|trans }}</h1>
            <p class="subtitle-inscriptions"> {{ 'view.opportunity.description'|trans }}</p>
        </div>
    </div>
</div>