<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="/favicons/favicon-16x16.png">
        <link href="https://cdn.jsdelivr.net/npm/aurora-user-interface@5.3.23/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/combine/npm/aurora-user-interface@5.3.23/dist/css/card.min.css,npm/aurora-user-interface@5.3.23/dist/css/colors.min.css,npm/aurora-user-interface@5.3.23/dist/css/accordion.min.css,npm/aurora-user-interface@5.3.23/dist/css/custom.min.css,npm/aurora-user-interface@5.3.23/dist/css/editor.min.css,npm/aurora-user-interface@5.3.23/dist/css/faq.min.css,npm/aurora-user-interface@5.3.23/dist/css/filter-date.min.css,npm/aurora-user-interface@5.3.23/dist/css/forms.min.css,npm/aurora-user-interface@5.3.23/dist/css/layout.min.css,npm/aurora-user-interface@5.3.23/dist/css/navigation.min.css,npm/aurora-user-interface@5.3.23/dist/css/side-filter.min.css,npm/aurora-user-interface@5.3.23/dist/css/snackbar.min.css,npm/aurora-user-interface@5.3.23/dist/css/timeline.min.css" rel="stylesheet">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/aurora-user-interface@5.3.23/dist/js/bootstrap.bundle.min.js"></script>

        {% block extra_javascripts %}
        {% endblock %}
    </body>
</html>
