{% extends "_layouts/base.html.twig" %}

{% block body %}
    <div class="wrapper">
        {% include "_components/navbar.html.twig" %}
        {% include "_components/snackbar.html.twig" %}

        <main class="content mt-5 pt-5">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include "_components/footer.html.twig" %}
        {% endblock %}
    </div>
{% endblock %}
