{% extends "_layouts/base.html.twig" %}

{% block body %}
    <div class="wrapper">
        {% include "_components/navbar.html.twig" %}
        {% include "_components/snackbar.html.twig" %}


        <main class="content">
            {% block content %}{% endblock %}
        </main>

        {% include "_components/footer-not-logged.html.twig" %}
    </div>
{% endblock %}
