{% set tabs = [
    {
        'id': 'sent',
        'content': include('_admin/registration/_partials/tabs/sent.html.twig')
    },
    {
        'id': 'not_sent',
        'content': include('_admin/registration/_partials/tabs/not-sent.html.twig')
    },
] %}

<div class="ps-4 pe-4 mt-4">
    {% include '_components/tabs/content-tabs.html.twig' with { 'tabs': tabs } %}
</div>
