.access-profile-container {
    text-align: right;
    margin-top: 15px;
}

.access-profile {
    background-color: var(--btn-publish-custom-color);
    font-weight: bold;
    color: var(--bg-color);
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.access-profile:hover {
    background-color: var(--btn-publish-custom-color);
}

.card-view-more  {
    color: var(--deep-teal)
}

.entity-page-tabs {
    display: flex;
    margin-left: 13rem;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -25.1875rem;
    width: 25.1875rem;
    height: 100%;
    background-color: var(--snow-mist);
    transition: left 0.3s ease;
    padding: 20px;
    margin-right: 50px;
    padding: 13px 30px;
}

.sidebar.open {
    left: 0;
}

.white-square {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-f);
    position: relative;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.entity-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 47px;
}

.entity-container {
    width: var(--WIDTH_DEFAULT);
}
