.access-profile-container {
    text-align: right;
    margin-top: 15px;
    margin-right: 0.625rem;
}

.card-view-more  {
    color: var(--deep-teal)
}

.entity-page-tabs {
    display: flex;
}

.white-square {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-f);
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.entity-banner {
    position: relative;
}

.entity-banner img {
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.entity-profile-bio {
    padding-left: 8.5rem;
    padding-right: 8.625rem;
    margin-top: -3.75rem;
    background: linear-gradient(to bottom, transparent 20%, white 80%);
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.entity-photo img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--dark-gray);
    z-index: 1;
}

.entity-profile-bio .entity-profile-label {
    width: 6.563rem;
    height: 2rem;
    border-radius: 45px;
    background-color: var(--color-highlight);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.406rem 1rem;
    line-height: 0;
}

.entity-profile-bio .entity-profile-label i {
    font-size: 1.5rem;
}

.entity-profile-actions button {
    width: 12.5rem;
    height: 3rem;
    border: none;
    background-color: var(--deep-teal);
    color: var(--white-color);
    font-weight: 700;
    border-radius: 8px;
    padding: 0.75rem 0.656rem;
}

.entity-profile-actions button i {
    font-size: 1.4rem;
}

.entity-profile-actions button:nth-child(2) i {
    height: 17px;
}

.entity-profile-actions button:first-child {
    background-color: var(--white-color);
    color: var(--deep-teal);
    border: 2px solid var(--deep-teal);
    padding: 1rem 1rem;
}

.entity-profile-bio .entity-description {
    margin-top: 12px;
    max-width: 93.75rem;
    max-height: 3.125rem;
}

.profile-tabs, .perfil-tabs {
    margin-left: -15px;
}

.profile-tabs .entity-page-tabs, .perfil-tabs .entity-page-tabs{
    margin: 0;
    padding: 0;
}

.profile-tabs span {
    color: var(--paleGray);
}

.profile-entity-wrapper {
    margin: 1.563rem 8.2rem;
}

.profile-entity-wrapper .agent-organizations {
    background-color: var(--white-color);
    height: 9.875rem;
    border-radius: 4px;
}

.agent-organizations {
    padding: 2rem 1.25rem;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.agent-organizations__content .agent-organization img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.agent-organization {
    width: 23.625rem;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--deep-teal);
    font-weight: 700;
    text-decoration: none;
}

.agent-public {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white-color);
    min-height: 35.625rem;
    padding: 1.875rem 1.25rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.agent-public span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.agent-public-info {
    font-weight: 700;
    color: var(--goldenYellow);
}

.agent-public-info-p{
    font-weight: 700;
    color: var(--main-font-color);
}

.agent-perfil-description {
    margin-top: 8px;
    max-width: 95rem;
}

.agent-social-media {
    background-color: var(--white-color);
    margin-top: 1.875rem;
    padding: 1.875rem 1.531rem;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
    border-radius: 4px;
}

.agent-social-media .social-media-title,
.connection-title{
    font-weight: 700;
    font-size: 18px;
}

.social-media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}

.agent-connections {
    background-color: var(--white-color);
    margin-top: 30px;
    padding: 2rem 1.156rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.connection-content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.connection-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.connection-content a {
    text-decoration: none;
    font-weight: 700;
    color: var(--deep-teal);
    font-size: 18px;
}

.content-wrapper {
    width: 90%;
    margin-bottom: 30px;
}

.agent-events .content-wrapper {
    margin-bottom: 0;
}

.agent-profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.agent-profile-actions button {
    border: 2px solid var(--deep-teal);
    height: 3rem;
    border-radius: 8px;
    color: var(--deep-teal);
    font-weight: 700;
    min-width: 248px;
    transition: 0.3s;
}

.agent-profile-actions button:hover {
    background-color: var(--deep-teal);
    color: var(--white-color);
}

.agent-profile-actions button:first-child {
    width: 18.813rem;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -3px;
    margin-top: 5px;
}

.agent-description {
    margin-top: 0.625rem;
    margin-left: 0;
    padding-left: 0;
}

.agent-location strong, .agent-area strong, .agent-type {
    margin-left: 0;
}

.agent-sub-area {
    margin-left: 0;
}

.agent-card-body {
    margin-left: 0.625rem;
}

@media (max-width: 768px) {
    .agent-card-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .agent-card-header img {
        width: 4rem;
        height: 4rem;
        margin: 0 0 10px 0;
    }

    .agent-info {
        flex-direction: column;
        gap: 5px;
    }

    .agent-card-body {
        padding: 10px;
    }

    .agent-card-body {
        margin-left: 0;
    }

    .access-profile-container {
        text-align: center;
        padding-right: 0;
        margin-right: 0;
    }
}
