.total-events {
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
    height: 1.875rem;
}

.event-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin-bottom: 0.9375rem;
}

.event-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}

.event-name {
    font-weight: bold;
    color: var(--deep-teal);
}

.event-subtitle {
    color: var(--main-font-color);
    margin: 0;
}

.event-id {
    color: var(--medium-gray);
    font-size: 0.85rem;
    text-align: right;
}

.event-card-body {
    margin-top: 0.9375rem;
}

.event-date, .event-location {
    color: var(--main-font-color);
    display: flex;
    align-items: center;
}

.event-date i, .event-location i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.location-name {
    color: var(--deep-teal);
}

.event-languages .language-link {
    color: var(--bg-initiative);
}

.entry-fee, .participants {
    margin-right: 0.9375rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.entry-fee i, .participants i {
    font-size: 1.2rem;
}

.event-languages .badge {
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 1.25rem;
}

.copy-id {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.btn-primary {
    font-size: 0.9rem;
    padding: 6px 12px;
}

@media (max-width: 768px) {
    .event-card {
        padding: 0.625rem;
    }

    .event-card-header {
        flex-direction: column-reverse;
        text-align: center;
    }

    .event-image {
        width: 4.375rem;
        height: 4.375rem;
    }

    .event-img {
        width: 3.125rem;
        height: 3.125rem;
    }

    .btn-primary {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .event-date {
        flex-direction: column;
    }

     .event-location {
        flex-direction: column;
        text-align: center;
    }

    .entry-fee, .participants {
        gap: 0.4rem;
        align-items: center;
    }

    .entry-fee i, .participants i {
        font-size: 1.2rem;
    }

    .total-events {
        font-size: 0.9rem;
    }
}


