.event-sort {
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.event-options {
    text-wrap: nowrap;
}

.event-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.event-card-header {
    display: flex;
    justify-content: space-between;
}

.event-image {
    width: 50px;
    height: 50px;
}

.event-name {
    font-weight: bold;
    color: var(--deep-teal);
}

.event-subtitle {
    color: var(--main-font-color);
    margin: 0;
}

.event-id {
    color: var(--medium-gray);
    font-size: 0.85rem;
    text-align: right;
}

.event-card-body {
    margin-top: 15px;
}

.event-date, .event-location, .initiative-date, .initiative-location {
    color: var(--main-font-color);
    display: flex;
    align-items: center;
}

.event-date i, .event-location i, .initiative-date i, .initiative-location i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.location-name {
    color: var(--deep-teal);
}

.event-languages .language-link {
    color: var(--bg-initiative);
}

.event-details {
    margin-top: 10px;
}

.entry-fee, .participants {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.entry-fee i, .participants i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.event-seals .seal {
    color: var(--main-font-color);
    margin-right: 0rem;
}

.access-event {
    background-color: var(--next-button-form);
    color: var(--card-bg-color);
    font-family: var(--font-open-sans);
    font-weight: bold;
    border: none;
    padding: 13px 55px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.entity-container {
    transition: width 0.3s, transform 0.3s;
    width: var(--WIDTH_DEFAULT);
}

.entity-container.shifted {
    width: 78.125rem;
    transform: translateX(118px);
}
