.total-events {
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
    height: 1.875rem;
}

.event-card {
    border-radius: 10px;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 0.9375rem;
}

.event-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-image {
    width: 3.125rem;
    height: 3.125rem;
}

.event-name {
    font-weight: bold;
    color: var(--deep-teal);
}

.event-subtitle {
    color: var(--main-font-color);
    margin: 0;
}

.event-id {
    color: var(--medium-gray);
    font-size: 0.85rem;
    text-align: right;
}

.event-card-body {
    margin-top: 15px;
}

.event-date, .event-location {
    color: var(--main-font-color);
    display: flex;
    align-items: center;
}

.event-date i, .event-location i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.location-name {
    color: var(--deep-teal);
}

.event-languages .language-link {
    color: var(--bg-initiative);
}

.event-details {
    margin-top: 10px;
}

.entry-fee, .participants {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.entry-fee i, .participants i {
    font-size: 1.2rem;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .event-card {
        padding: 0.9375rem;
    }

    .event-card-header {
        flex-direction: column-reverse;
        text-align: center;
    }

    .event-image {
        width: 4.375rem;
        height: 4.375rem;
    }

    .event-date {
        flex-direction: column;
    }

     .event-location {
        flex-direction: column;
        text-align: center;
    }

    .entry-fee, .participants {
        gap: 0.4rem;
        align-items: center;
    }

    .entry-fee i, .participants i {
        font-size: 1.2rem;
    }

    .event-details {
        flex-direction: column;
        align-items: center;
    }

    .total-events {
        font-size: 0.9rem;
    }
}


