.icon-container-inscriptions {
    background-color: var(--circle-red);
    color: var(--bg-color-f);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
}

.icon-container-inscriptions i {
    font-size: 2rem;
}

.header-content-inscriptions {
    display: flex;
    align-items: center;
}

.text-container-inscriptions {
    margin-left: 1%;
}

.title-inscriptions {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    color: var(--main-font-color);
}

.title-inscriptions span {
    color: var(--main-font-color);
}

.subtitle-inscriptions {
    font-size: 1rem;
    color: var(--main-font-color);
    margin: 0;
}

.search-dropdown-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-input-wrapper-inscriptions {
    padding-left: 0;
    margin-top: 2px;
    width: 25%;
}

.input-wrapper-inscriptions {
    position: relative;
    flex: 1;
    margin-right: 1%;
}

.custom-search-input-inscriptions {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid var(--input-border);
    border-radius: 15px;
}

.custom-search-icon-inscriptions {
    position: absolute;
    right: 15px;
    top: 54%;
    transform: translateY(-50%);
    color: var(--main-font-color);
}

.dropdown.ml-2 {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .header-content-inscriptions {
        flex-direction: column;
        text-align: center;
    }

    .icon-container-inscriptions {
        margin-bottom: 10px;
        width: 10%;
    }

    .text-container-inscriptions .title-inscriptions {
        font-size: 20px;
    }

    .text-container-inscriptions .subtitle-inscriptions {
        font-size: 12px;
    }

    .search-dropdown-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .input-wrapper-inscriptions {
        width: 100%;
    }
}

.resources-section {
    margin-top: 20px;
}

.resources-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    color: var(--main-font-color);
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid var(--main-font-color);
    margin: 0;
    margin-top: 10px;
}

.resource-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.resource-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.resource-icon {
    background-color: var(--paleGray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.resource-title {
    font: var(--font-open-sans);
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.resource-card-body {
    border: 1px solid var(--bg-all);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.resource-details {
    color: black;
}

.resource-details p {
    margin: 0 0 8px 0;
    color: black;
}

.resource-details p:last-child {
    margin-bottom: 0;
}

.registration-page i.material-icons {
    font-size: 24px !important;
}