.success-card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.success-card .card {
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: var(--bg-color-f);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.success-card .text-success {
    color: var(--btn-publish-custom-color);
}

.btn-custom {
    font: var(--font-open-sans);
    font-size: 16px;
    background-color: var(--btn-publish-custom-color);
    color: var(--bg-color-f);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--paleGray);
}

.card-title {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font: var(--font-open-sans);
    font-size: 1rem;
    margin: 15px 0;
    color: var(--main-font-color);
}
