<section class="management-panel">
    <div class="d-flex justify-content-between">
        <h1 class="management-panel__title">{{ "view.management.management_of" | trans }} {{ item_name | trans }}</h1>
        <button class="management-panel__action">{{ create_name | trans }}</button>
    </div>
    <p class="py-2">{{ "view.management.info" | trans }}</p>
</section>
