<div id="sidebar" class="bg-light p-3 border-end side-navigation" style="width: 328px;">
    <!-- Notificações -->
    <div class="d-flex align-items-center mb-3">
        <div class="position-relative ms-3">
            <i class="material-icons icon-size-1 icon-bg-primary">notifications_none</i>
            <span class="badge-notification">1</span>
        </div>
        <span class="font-title ms-4">Notificações</span>
    </div>

    <!-- Menu do Painel de Controle -->
    <p class="font-subtitle">Menu do Painel de Controle</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">dashboard</i>
                    <span class="font-title ms-4">Painel de Controle</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Inscrições em Oportunidades -->
    <p class="font-subtitle">Inscrições em Oportunidades</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">Minhas inscrições</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">Prestações de contas</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Editais e Oportunidades -->
    <p class="font-subtitle">Editais e Oportunidades</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">Minhas oportunidades</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">Minhas avaliações</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Gerenciamento de Entidades -->
    <p class="font-subtitle">Gerenciamento de Entidades</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">people</i>
                    <span class="font-title ms-4">Meus agentes</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">event</i>
                    <span class="font-title ms-4">Meus eventos</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">apartment</i>
                    <span class="font-title ms-4">Meus espaços</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">article</i>
                    <span class="font-title ms-4">Meus projetos</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Outras Opções -->
    <p class="font-subtitle">Outras Opções</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">power</i>
                    <span class="font-title ms-4">Vincular cadastro</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">extension</i>
                    <span class="font-title ms-4">Meus apps</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">settings</i>
                    <span class="font-title ms-4">Conta e privacidade</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Opções de administrador -->
    <p class="font-subtitle">Opções de administrador</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">bookmark</i>
                    <span class="font-title ms-4">Selos</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">account_tree</i>
                    <span class="font-title ms-4">Subsites</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">manage_accounts</i>
                    <span class="font-title ms-4">Gestão de usuários</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">newspaper</i>
                    <span class="font-title ms-4">Gerenciar funções</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Perfil e Sair -->
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1 icon-bg-primary">person</i>
                    <span class="font-title ms-4">Meu perfil</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1 icon-bg-primary">logout</i>
                    <span class="font-title ms-4">Sair da sua conta</span>
                </a>
            </div>
        </li>
    </ul>
</div>
