<div class="row page-title mb-2">
    <div class="col">
        <h2 class="title-fs">{{ title }}</h2>
    </div>
    {% if action is defined %}
        <div class="col text-end">
            <a class="btn btn-primary" href="{{ action.path }}">
                {{ action.text }}
            </a>
        </div>
    {% endif %}
</div>
