{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    Detalhes da Oportunidade
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/details-opportunity.css') }}">
{% endblock %}

{% block content %}
    <div class="details-header">
        {% include 'details-opportunity/_partials/header-details.html.twig' %}
    </div>
{% endblock %}
