<section class="support-info">
    <p>{{ 'faq-looking' | trans}} <a href="#" class="support-link">{{ 'faq-click' | trans }}</a> {{ 'faq-support' | trans }}
        {{ 'faq-send' | trans }} <a href="mailto:suprotemapaculturalpa@gmail.com" class="support-email">suportemapaculturalpa@gmail.com</a>.</p>
</section>
