<div class="d-flex align-content-center justify-content-start align-items-center initiative-sort-container">
    <p class="fw-bold me-3 initiative-line">182 {{ 'view.initiative.quantity.total'| trans }}</p>
    <div class="d-flex g-4 initiative-sort">
        <label class="initiative-options" for="sort-options">{{ 'sort_by' | trans }}</label>
        <select id="sort-options" class="form-select">
            <option value="recent">{{ 'most_recent' | trans }}</option>
            <option value="old">{{ 'oldest' | trans }}</option>
        </select>
    </div>
</div>
