<div class="initiative-dropdown-wrapper">
    <div class="initiative-dropdown-container">
        <div class="dropdown">
            <select class="form-select custom-dropdown">
                <option value="recent">{{ 'initiative.dropdown.recent' | trans }}</option>
                <option value="older">{{ 'initiative.dropdown.older' | trans }}</option>
                <option value="popular">{{ 'initiative.dropdown.popular' | trans }}</option>
            </select>
        </div>
        <div class="initiative-count">
            <span><strong>300</strong> {{ 'initiative.count.found' | trans }}</span>
        </div>
    </div>
</div>
