<div class="d-flex flex-column align-items-center mb-3 search-container">
    <div class="search-input-container row">
        <div class="input-wrapper">
            <input type="text" class="form-control custom-search-input" placeholder="{{ 'initiative.search.placeholder' | trans }}">
            <span class="custom-search-icon">
                <i class="material-icons">search</i>
            </span>
        </div>
    </div>
</div>

