<div class="initiative-tabs mt-4">
    <p class="d-flex align-self-center fw-bold">{{ 'initiative.view' | trans }}</p>
    <ul class="opa-initiative nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <div class="d-flex align-items-center mb-3">
                <a class="centered-icon-text nav-link active" id="pills-list-tab" data-bs-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true">
                    <i class="material-icons">list</i>
                    <span class="ms-2 font-title">{{ 'initiative.list' | trans }}</span>
                </a>
            </div>
        </li>

        <li class="nav-item" role="presentation">
            <div class="d-flex align-items-center mb-3">
                <a class="centered-icon-text nav-link" id="pills-map-tab" data-bs-toggle="pill" href="#pills-chart" role="tab" aria-controls="pills-map" aria-selected="false">
                    <i class="material-icons">insert_chart</i>
                    <span class="ms-2 font-title">{{ 'initiative.chart' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>
</div>
