<div class="initiative-header">
    <div class="initiative-icon-container">
        <div class="initiative-icon">
            <i class="material-icons">description</i>
        </div>
    </div>
    <div class="initiative-title-container">
        <h2 class="page-title">Iniciativas</h2>
    </div>

    <div class="initiative-button-container">
        <button class="btn btn-primary create-initiative-btn">
            <i class="material-icons">add</i> Criar Iniciativa
        </button>
    </div>
</div>
