{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    {{ 'spaces'|trans }}
{% endblock %}

{% block content %}
    <div class="white-square">
        <div class="breadcrumb">
            <span class="name-one">{{ 'space.start' | trans }}</span><span class="name-one">{{ 'spaces' | trans }}</span>
        </div>
        <h2 class="page-title">{{ 'spaces' | trans }}</h2>

        {% include 'admin/space/_partials/view-options.html.twig' %}
    </div>

        {% include 'admin/space/_partials/sort-dropdown.html.twig' %}

        <div class="filter-and-spaces-container">

            <div class="spaces-list">
                {% for space in spaces %}
                    {% include 'admin/space/_partials/space-card.html.twig' with { space: space } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
