<div class="d-flex flex-column">
    <p class="mb-3">
        {{ 'view.event.edit.add_occurrence_details' | trans }}
    </p>

    <hr>

    <div class=" d-flex justify-content-center mt-3">
        <button class="btn btn-primary d-flex align-items-center gap-2">
            <span class="iconify fs-4 me-2" data-icon="ic:baseline-plus"></span>
            {{ 'add_occurrence' | trans}}
        </button>
    </div>
</div>
