<div class="sort-dropdown">
    <label for="sort-options">{{ 'sort_by' | trans }}</label>
    <select id="sort-options" class="form-select">
        <option value="recent">{{ 'most_recent' | trans }}</option>
        <option value="old">{{ 'oldest' | trans }}</option>
    </select>
</div>
