<div class="sort-dropdown">
    <label for="sort-options">{{ 'space.order' | trans }}</label>
    <select id="sort-options" class="form-select">
        <option value="recent">{{ 'space.filter_first' | trans }}</option>
        <option value="old">{{ 'space.filter_old' | trans }}</option>
    </select>
</div>
