<div class="view-options-container">
    <div class="view-options">
        <span class="view-label">{{ 'space.view' | trans }}:</span>
        <a href="#" class="view-option active">
            <i class="material-icons">list</i> {{ 'list' | trans }}
        </a>
        <a href="/map-page" class="view-option">
            <i class="material-icons">map</i>  {{ 'map' | trans }}
        </a>
    </div>
</div>
