{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    {{ 'initiatives'|trans }}
{% endblock %}

{% block content %}
    <div class="white-square">
            {% include 'admin/initiative/_partials/breadcrumb-initiative.html.twig' %}

            {% include 'admin/initiative/_partials/title-initiative.html.twig' %}

            {% include 'admin/initiative/_partials/dashboard.html.twig' %}

            {% include 'admin/initiative/_partials/tabs.html.twig' %}
    </div>

    {% include 'admin/initiative/_partials/initiative-dropdown.html.twig' %}

    {% include 'admin/initiative/_partials/card-initiative.html.twig' %}
{% endblock %}
