{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    {{ 'initiatives'|trans }}
{% endblock %}

{% block content %}
    <div class="white-square">
       <div>
           {% include 'admin/initiative/_partials/breadcrumb-initiative.html.twig' %}
       </div>

    <div class="initiative-header">
        {% include 'admin/initiative/_partials/title-initiative.html.twig' %}
    </div>

        <div class="search-input-container-wrapper">
            {% include 'admin/initiative/_partials/input-search.html.twig' %}
        </div>
    </div>

        {% include 'admin/initiative/_partials/initiative-dropdown.html.twig' %}

        {% include 'admin/initiative/_partials/card-initiative.html.twig' %}
{% endblock %}

