<div class="row">
    <div class="col-12">
        <section class="project-info mb-4">
            <div class="d-flex flex-column">
                <div class="p-5 border rounded bg-white">
                    <p class="mb-0">
                        Este projeto está à iniciativa
                        <a href="#" class="fw-bold text-primary">Nome da iniciativa associada</a>.
                    </p>
                </div>
            </div>
        </section>
        <section class="agent-public">
            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Apresentação</span>
            </div>

            <div class="row">
                <div class="col-md-6 pe-md-3">
                    <div class="mb-3">
                        <span class="fw-bold">Tipo de iniciativa</span>
                        <div class="agent-public-info">TIPO, TIPO, TIPO</div>
                    </div>

                    <div class="mb-3">
                        <span class="fw-bold">Tags (3)</span>
                        <div class="agent-public-info">DESIGN, ACESSIBILIDADE, DESIGNINCLUSIVO</div>
                    </div>

                    <div class="mb-3">
                        <span class="fw-bold">Período da iniciativa</span>
                        <div class="agent-public-info">00/00/0000 a 00/00/0000</div>
                    </div>
                </div>

                <div class="col-md-6 ps-md-3">
                    <div class="mb-3">
                        <span class="fw-bold">Valor do projeto</span>
                        <div class="agent-public-info">R$ 000.000,00</div>
                    </div>
                </div>
            </div>

            <div class="profile-description mt-3 mb-3">
                <span class="fw-bold">Descrição</span>
                <p class="description-agent-profile mt-2 w-80-m">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    <a href="#" class="text-decoration-none fw-bold">(ver mais)</a>
                </p>
            </div>

            <div class="agent-profile-contact row gap-3">
                <div class="agent-site d-flex flex-column col-md-6">
                    <span class="fw-bold mb-2">Site</span>
                    <a href="https://www.example.com" target="_blank" class="text-decoration-none fw-bold">
                        Site da iniciativa
                    </a>
                </div>
                <div class="d-flex flex-column col-md-6">
                    <span class="fw-bold mb-2">Telefone</span>
                    <span>(00) 12345-6789</span>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <section class="agent-social-media">
            <span class="social-media-title fw-bold">Redes sociais</span>
            <div class="row mt-4">
                <div class="col-md-4 d-flex flex-column gap-3">
                    <div class="social-media">
                        <span class="fw-bold">Instagram</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="ph:instagram-logo-light" style="font-size: 1.9rem;"></span>
                            <a href="https://www.instagram.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">Vimeo</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="hugeicons:vimeo" style="font-size: 1.9rem;"></span>
                            <a href="https://www.vimeo.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">Spotify</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="iconoir:spotify" style="font-size: 1.9rem;"></span>
                            <a href="https://open.spotify.com/user/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex flex-column gap-3">
                    <div class="social-media">
                        <span class="fw-bold">X (antigo Twitter)</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="ri:twitter-x-line" style="font-size: 1.9rem;"></span>
                            <a href="https://x.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">YouTube</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="iconoir:youtube" style="font-size: 1.9rem;"></span>
                            <a href="https://www.youtube.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">Pinterest</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="iconoir:pinterest" style="font-size: 1.9rem;"></span>
                            <a href="https://www.pinterest.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex flex-column gap-3">
                    <div class="social-media">
                        <span class="fw-bold">Facebook</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="streamline:facebook-1" style="font-size: 1.9rem;"></span>
                            <a href="https://www.facebook.com/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">LinkedIn</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="teenyicons:linkedin-outline" style="font-size: 1.9rem;"></span>
                            <a href="https://www.linkedin.com/company/nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>

                    <div class="social-media">
                        <span class="fw-bold">Tiktok</span>
                        <div class="social-link d-flex align-items-center gap-2">
                            <span class="iconify" data-icon="proicons:tiktok" style="font-size: 1.9rem;"></span>
                            <a href="https://www.tiktok.com/@nomedainiciativa" target="_blank" class="text-decoration-none fw-bold">
                                nomedainiciativa
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <section class="agent-connections">
            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Outras informações</span>
            </div>

            <hr>

            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Perfil do público</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Perfil de público</span>
                <p class="agent-public-info-p">Perfil de público, perfil de público, perfil de público, perfil de público.</p>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Perfil de público prioritário</span>
                <p class="agent-public-info-p">Perfil de público prioritário, perfil de público prioritário.</p>
            </div>

            <hr>

            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Acessibilidade</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Acessibilidade arquitetônica</span>
                <p class="agent-public-info-p">Acessibilidade, acessibilidade, acessibilidade.</p>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Acessibilidade comunicacional</span>
                <p class="agent-public-info-p">Acessibilidade, acessibilidade, acessibilidade.</p>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Acessibilidade atitudinal</span>
                <p class="agent-public-info-p">Acessibilidade, acessibilidade, acessibilidade.</p>
            </div>
            <div class="mb-3">
                <span class="fw-bold" style="color: red;">
                    Como essas medidas de acessibilidade serão implementadas ou disponibilizadas de acordo com o projeto proposto
                </span>
                <p class="agent-public-info-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
            </div>

            <hr>

            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Divulgação</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Estratégias de divulgação</span>
                <p class="agent-public-info-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>

            <hr>

            <div class="d-flex flex-column mb-3">
                <span class="fw-bold">Local</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Nome do local</span>
                <p class="agent-public-info-p">Nome do local</p>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Territórios prioritários</span>
                <p class="agent-public-info-p">Território prioritário, território prioritário, território prioritário.</p>
            </div>
        </section>
    </div>
</div>