<div class="perfil-tabs border-bottom mt-4">
    {% include "organization/_partials/profile-tabs-organization/profile-tabs-organization.html.twig" %}
</div>

<section class="mt-4 organization-perfil">
    {% include "organization/_partials/profile-tabs-organization/general-data.html.twig" %}

    {% include "organization/_partials/tabs/organization-connections.html.twig" %}

    <div class="organization-profile-actions">
        <button class="left-button">Histórico de alterações</button>
        <button class="right-button">Denunciar</button>
    </div>
</section>
