<div class="entity-page-tabs">
    {% set tabs = [
        {
            'id': 'dados-gerais',
            'title': 'Dados Gerais',
        },
        {
            'id': 'plano-de-trabalho',
            'title': 'Plano de Trabalho',
        },
        {
            'id': 'eventos',
            'title': 'Eventos',
        },
        {
            'id': 'pessoas',
            'title': 'Pessoas',
        },
        {
            'id': 'portfolio',
            'title': 'Portfólio',
        },
        {
            'id': 'selos',
            'title': 'Selos',
        },
        {
            'id': 'conexoes',
            'title': 'Conexões',
        }
    ] %}

    {% include '_components/tabs/tab.html.twig' with { 'tabs': tabs } %}
</div>
