<header class="header-registration-container">
    <nav class="header-registration-breadcrumb">
        <a href="#" class="header-registration-breadcrumb-item">{{ 'home' | trans }}</a> &gt;
        <a href="#" class="header-registration-breadcrumb-item">{{ 'spaces' | trans}}</a> &gt;
        <span class="header-registration-breadcrumb-item active">{{ 'view.space.create' | trans }}</span>
    </nav>
    <h1 class="header-registration-title">{{ 'view.space.create' | trans }}</h1>
</header>
