<section class="seal-actions">
    <button>{{ "claim-ownership" | trans }}</button>
    <div class="d-flex gap-3 my-3">
        <button>{{ "report" | trans }}</button>
        <button>{{ "contact" | trans }}</button>
    </div>
</section>
