{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    Criar uma Organização
{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-body">
                        {% include '_admin/organization/_partials/organization-card.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}