<div class="d-flex justify-content-between align-items-center">
    <h2 class="page-title">{{ 'opportunities' | trans }}</h2>

    <div class="initiative-button-container d-none">
        <button class="btn btn-primary">
            {{ 'opportunity.create' | trans }}
        </button>
    </div>
</div>
